<?xml version="1.0" encoding="UTF-8"?>

<!-- https://phpunit.readthedocs.io/en/9.5/configuration.html -->
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         backupGlobals="false"
         colors="true"
         bootstrap="./vendor/autoload.php"
>
    <extensions>
        <extension class="Tests\Hook\BypassFinalHook" file="./tests/Hook/BypassFinalHook.php" />
    </extensions>

    <testsuites>
        <testsuite name="The project's test suite">
            <directory>./tests</directory>
        </testsuite>
    </testsuites>

    <coverage processUncoveredFiles="true">
        <include>
            <directory suffix=".php">src</directory>
        </include>

        <report>
            <text outputFile="php://stdout"/>
        </report>
    </coverage>

    <php>
        <env name="XDEBUG_MODE" value="coverage"/>
    </php>
</phpunit>
